/***********************/
/* BELOW 1344px (Smaller desktops) */
/***********************/

@media (max-width: 84em) {
}

/***********************/
/* BELOW 1200px (Landscape tablets) */
/***********************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 90rem;
  }

  .redazione,
  .number {
    flex-direction: column;
  }
}

/***********************/
/* BELOW 944px (Tablets) */
/***********************/

@media (max-width: 59em) {
  html {
    font-size: 55%;
  }
}

/***********************/
/* BELOW 704px (Smaller tablets) */
/***********************/

@media (max-width: 44em) {
  .container {
    max-width: 50rem;
  }
}

/***********************/
/* BELOW 544px (Phones) */
/***********************/

@media (max-width: 34rem) {
  header .number-tag {
    position: static;
    margin: 2.4rem;
    margin-bottom: 3.6rem;
    width: 50%;
  }

  header .main-nav {
    flex-direction: column;
    gap: 1.2rem;
  }

  .container {
    max-width: 40rem;
  }
}

/*
Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
