/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2.4rem;
  margin-bottom: 10rem;
  width: 100vw;
  /* background-color: var(--color2); */
}

header .header-text {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: var(--textcolor);
}

header .header-text .header-subtitle {
  font-size: 2.4rem;
}

header .main-nav {
  display: flex;
  justify-content: center;
  gap: 12rem;
  font-size: 2.4rem;
  font-weight: 700;
}

header .main-nav .nav-link:link,
header .main-nav .nav-link:visited {
  color: var(--textcolor);
}

header .main-nav .nav-link:hover {
  color: var(--color1);
}

header .number-tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3.6rem;
  right: 3.6rem;

  font-weight: 700;
  border-radius: 11px;
  background-color: var(--color1);
  color: var(--textcolor);
  padding: 1.4rem;
  font-size: 1.6rem;
}

header .number-tag:hover {
  transform: scale(1.1);
}

/************************** 
FOOTER
**************************/
.main-footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 4.8rem;
}

.main-footer .contacts .social-media-link {
  font-size: 4.8rem;
}

.main-footer .social-media-link:link,
.main-footer .social-media-link:visited {
  color: var(--color1);
}

.main-footer .social-media-link:hover {
  color: var(--color2);
}

.main-footer .copyright {
  font-size: 1.8rem;
}

/* HOME ARTICLES */
.home-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.6rem;
}

.article-card {
  width: 36rem;
  height: 36rem;
  text-align: left;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  /* justify-content: space-between; */

  background-color: var(--color2);
  padding: 2.4rem 3.6rem;
  border-radius: 11px;
}

.article-card:hover {
  transform: translateX(-1.6rem);
}

.article-title {
  font-family: "DM Serif Display", serif;
  font-size: 3.6rem;
  line-height: 1.05;
}

.article-card-text {
  font-size: 1.6rem;
}

/************************** 
ABOUT US
**************************/

.redazione,
.number {
  display: flex;
  gap: 1.8rem;
  font-size: 2rem;
  text-align: left;
}

.redazione .membri {
  flex: 1.1 1 0px;
}
.redazione .editoriale {
  flex: 2 1 0px;
}

.redazione p,
.number p {
  margin-bottom: 1.6rem;
}

/************************** 
NUMBERS
**************************/
.numbers {
  display: flex;
  gap: 3.6rem;
  justify-content: center;
  flex-wrap: wrap;
}

.numbers a,
.home-articles a,
.number-articles a {
  color: var(--textcolor);
}

.number-card {
  width: 42rem;
  text-align: left;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;

  background-color: var(--color2);
  padding: 2.4rem 3.6rem;
  border-radius: 11px;
}

.number-card:hover {
  transform: translateY(-1.6rem);
}

.number-title {
  font-family: "DM Serif Display", serif;
  font-size: 4.8rem;
  line-height: 1.05;
}

.number-img {
  border-radius: 7px;
}

/************************** 
NUMBER
**************************/
.number {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.number .number-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.6rem;
  flex: 2 1 0px;
}

/************************** 
ARTICLE
**************************/
.article {
  max-width: 75rem;
  font-size: 2rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  /* gap: 2.4rem; */
}

.article .article-text p {
  margin-bottom: 1.6rem;
}
